<div class="grater grater-container">
  <div>
    <p>Its simplicity allows for a clean and beautiful reading experience. Enjoy catching up on the latest in the tech world without viewing any distracting comments. With social media integration, readability optimization and reading later services, Nooz is a simple and enjoyable way to stay up to date on the Y Combinator’s news..</p>
    <p class="app-store"><%= app_store_button %></p>
  </div>
  <div>
    <div class="iphone">
      <div id="screenshots">
        <img alt="Shares Screenshot" src="/assets/screenshot01.png" srcset="/assets/screenshot01@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot02.png" srcset="/assets/screenshot02@2x.png 2x" width="320" heigh="568">
        <img alt="Shares Screenshot" src="/assets/screenshot03.png" srcset="/assets/screenshot03@2x.png 2x" width="320" heigh="568">
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
