<div class="grater-container">
  <h3>Press</h3>

  <p>For press inquiries, please contact <a href="mailto:press@thenoozapp.com?subject=Coins Press Inquiry">press@thenoozapp.com</a>.</p>

  <p>Want to review Nooz and need a promo code? Just ask! <a href="mailto:press@thenoozapp.com?subject=I'd like to review Nooz!">Send us an email</a> and we'll be glad to send one your way.</p>

  <h4>Press Kit</h4>
  <p>The Nooz press kit includes Nooz app icon and iPhone screenshots.</p>

  <p><strong><a href="https://s3.amazonaws.com/thenoozapp/noozpresskit.zip" rel="external nofllow">Download Press Kit</a></strong>
</div>
