<div class="grater-container">
  <h3>Support</h3>
  <p>Just <a href="mailto:support@thenoozapp.com?subject=I need help">email us</a> and we'll get you taken care of!</p>
  <p><a href="https://twitter.com/thenoozapp" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div>
