<div class="grater-container">
  <h3>Big thanks</h3>
  <br> 
  <p>To my wife for the graphic work and the support!</p>
  <br>
  <p>To <a href="https://github.com/soffes">Sam Soffes</a> for open sourcing almost everithing he does. I used the web site code from <a href="http://getsharesapp.com"> Shares</a> and <a href="http://getcoinsapp.com"> Coins</a> with just some color and wording changes.</p>
</div>
